/* Custom css */
.lh-1 {
    line-height: 1;
}

/* Mark input boxes that gets an error on validation: */
.stepregForm input.invalid {
    background-color: #ffdddd;
}

/* Hide all steps by default: */
.stepregForm .tab {
    display: none;
}

.stepregForm button:hover {
    opacity: 0.8;
}

.stepregForm #prevBtn {
    background-color: #bbbbbb;
}

/* Make circles that indicate the steps of the form: */
.stepregForm .step {
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border: none;
    border-radius: 50%;
    display: inline-block;
    opacity: 0.5;
}

.stepregForm .step.active {
    opacity: 1;
}

/* Mark the steps that are finished and valid: */
.stepregForm .step.finish {
    background-color: #000000;
}
.content-wrapper {
    padding: 20px;
}

.bg-primary {
    background-color: #128143; 
}
.primary {
    color: #128143;
}
.btn-primary {
    background-color: #128143;
    border-color: #128143;
}
.btn-primary:hover {
    opacity: 0.8;
    background-color: #128143;
    border-color: #128143;
}
.btn-primary:active {
    background-color: #128143;
    border-color: #128143;
}
.btn-primary.focus, .btn-primary:focus{
    background-color: #128143;
    border-color: #128143;
}
.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active,
.sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #128143;
}

.active_bg{
    background-color: green;
}
.nonactive_bg{
    background-color: orange;
}
.acti{
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

/* stepregForm */
.stepregForm #frame1,
.stepregForm #frame2{
    max-width: 200px;
}

/* transparent background */
.pw_show{
    border: 1px solid #ced4da;
    border-left: none;
    border-right: none;
    background-color: #ffff;
}